body{
    font-family: 'Poppins', sans-serif;
}
.head {
    margin-bottom: 3rem;
}
.signup-form{
    border: 1px solid purple;
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 25px;
    padding-top: 0;
    margin: 50px auto;
}
h3 {
    font-size: 25px;
    letter-spacing: 1px;
}
.form-control{
    position: relative;
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    height: 35px;
    margin: 30px 0 0 10px;
    outline: none;
}
.form-control:focus {
        outline: none;
        box-shadow: none;
        border: 1.5px solid red;
}
.validator:before {
    font-family: FontAwesome;
    content: "";
}
label{
    position: relative;
    top: -28px;
    left: 25px;
    font-family: Roboto;
    font-size: 15px;
    color: #555;
    pointer-events: none;
    transition: .2s all;
}
a{
    text-decoration: none;
}
.student-image p {
    margin-top: 30px;
    margin-left: 15px;
    color:red;
}
.line1, .line2 {
    position: relative;
    font-size: 14px;
    color: #007a5a;
}
.line1{
    left: -80px;
}
.line2{
    left: 13px;
    margin-top: -20px;
}
.signup-button-area{
    margin-top: 3rem;
}
.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
    color: #ffffff;
}

.btn-custom {
    border-radius: 3px;
    padding: 10px 10px;
    background-color: #007a5a;
    color: #fff;
    font-weight: 700;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.btn-custom:hover, .btn-custom:active{
        color: #dcfaa6;
}
.student-sign-in-instead > a, .student-sign-in-instead > a:hover, .line1:hover, .line2:hover{
    color: purple;
}
.student-sign-in-instead > a:hover {
        height: auto;
        width: 35%;
        background-color: #A4DDFF;
        opacity: 0.8;
        display: block;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.5s ease-out;
}
.form-control:focus ~ label, .form-control:valid ~ label {
    top: -49px;
    left: 15px;
    background: #fff;
    padding: 0 5px;
    color: purple;
}
.show-password {
    color: purple;
    margin-left: 10px;
}
input[type='checkbox'] {
    outline: none;
    box-shadow: none;
    margin-right: 5px;
}
.student-sign-up{
    margin-left: 300px;
}
.custom-profile-picture-view{
    width: 180px;
    height: 180px;
    margin-top: 25px;
    border: 5px solid #d5d2d2;
    border-radius: 50%;
}

